.session-form-container {
  max-width: 320px;
  margin: 80px auto 130px;
  position: relative;
  color: #9297A3;
}

.alt-login-link, .auth-title {
  color: inherit;
  font-weight: 900;
  display: block;
  text-align: right;
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
  font-family: 'Armour-Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.alt-login-link:hover {
  color: #5E615C;
}

.auth-title {
  text-align: center;
  font-size: 30px;
}

.errors {
  list-style: disc;
}

.errors > * {
  color: red;
}

.auth-input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 12px 16px 12px;
  border: 1px solid #D3D6DC;
  -webkit-border-radius: 0;
          border-radius: 0;
  color: #222628;
  font-size: 14px;
  line-height: 1.21;
  height: 44px;
  background: transparent;
}

.auth-input::placeholder {
  color: #9297A3;
}

.auth-input:focus, .gender-focus {
  outline: none;
  background: #FFFFFF;
  border-color: #007EFF;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}

.gender-container, .birthday-container {
  display: flex;
  justify-content: space-between;
}

.gender {
  width: 30%;
  display: flex;
}

.birthday {
  display: flex;
}

.day {
  width: 25%;
}

.month {
  width: 38%;
}

.year {
  width: 27%;
}

.auth-submit-button {
  color: #fff;
  background: #1ddd7c;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 15px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 20px;
  font-size: 14px;
  min-width: 96px;
  width: 100%;
}

.auth-submit-button:hover {
    background: #18D073;
  }
