.home-main {
  width: inherit;
  height: 900px;
  background-image: url("https://cdn.pixabay.com/photo/2017/03/23/16/28/street-2168790_1280.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
