.home-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-main {
  text-align: right;
  color: white;
  padding: 18px;
  width: 1250px;
  height: 700px;
  background-image: image-url("street-skater.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.home-inner {
  padding-top: 10px;
  padding-right: 25px;
}

.title > * {
  color: #1E211E;
  font-family: 'Armour-Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: right;
  font-weight: 900;
  line-height: 1.17;
  letter-spacing: 6px;
  white-space: pre-line;
  padding: 18px;
  margin-bottom: 6px;
  max-width: 1360px;
}

.bar {
  width: 87px;
  border: 3px solid currentColor;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-top: 9px;
  margin-bottom: 9px;
}

.own-it {
  padding-right: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 1000;
}

@media only screen and (min-width: 768px) {
  .home-main {
    padding: 36px;
  }
}

@media (min-width: 993px) {
  .title > * {
    font-size: 42px;
  }
}

@media (max-width: 1250px) {
  .home-main {
    width: 100vw;
    padding: 0;
    margin: 0;
  }
}
