.home-main {
  width: inherit;
  height: 900px;
  background-image: url("https://images.pexels.com/photos/1250643/pexels-photo-1250643.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: contain;
}
